modules = ["python-3.10:v18-20230807-322e88b"]
entrypoint = "server.py"
run = "pip install -r requirements.txt && python server.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python server.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
